.ant-menu, .ant-menu-sub, .ant-menu-vertical {
  border-radius: 10px !important;
}

.ant-select {
  border-radius: 10px !important;
}

#caret {
  animation: pulse 1s infinite;
}

#conversion {
  animation: appear 0.2s;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}